@import "base";
@import "grid";
@import "pagination";
// @import "dropdown";

// =====
// Override base style

html{
	// overflow-y:scroll; /* Force scrollbars 100% of the time */
	font-size:100%; /* Use 16px as per http://www.informationarchitects.jp/en/100e2r/ and http://www.wilsonminer.com/posts/2008/oct/20/relative-readability/ */
	font-family:Calibri, "Helvetica Neue", Arial, sans-serif; /* Swap these two lines around to switch between serif and sans */
	// font-family:Cambria, Georgia, "Times New Roman", serif; /* Swap these two lines around to switch between serif and sans */
	line-height:1.5;
	background: #E0EFFA url(/images/bg_header.png) repeat-x;
	color:#333;
}

body{
	min-height:100%;
}

h1 { font-size:2em;			/* 32px */ }
h2 { font-size:1.5em;		/* 24px */ }
h3 { font-size:1.25em;		/* 20px */ }
h4 { font-size:1.125em;		/* 18px */ }
h5 { font-weight:bold; }
h5, h6 { font-size:1em;			/* 16px */ }
h1, h2, h3, h4, h5, h6 {
	font-family:Calibri, "Helvetica Neue", Arial, sans-serif; 
}

textarea {
	width: 95%;
}


// =====
// Layout

#header {
	position: relative;
	background-color: #4C94D8;
	height: 35px;
	margin-top: 5px;
	.slogan { display: none; }
}

#logo {
	background: url(/images/logo_title.png) no-repeat 20px 5px;
	height: 30px;
	text-indent: -9999px;
	margin-top: 5px;
	a {
		display: block;
		width: 89px;
		height: 100%;
		overflow: hidden;
	}
}

#top_nav {
	position: absolute;
	top: 6px; right: 20px; 
	color: #fff;
	li { 
		display: inline; 
	}
	a { 
		color: #fff;
		text-decoration: none; 
	}
	a.toggle {
		padding-right: 15px;
		background: url(/images/top_arrow.png) no-repeat right;
	}
}

// Dropdown menu


.dropdown {
	background-color: #d0e6f5;
	clear:both;
	li {
		a {
			display: block;
			border-top:solid 1px #DEDEDE;
			padding:4px;
			text-decoration:none;
			color: #999;
		}
		a:hover { color: #333; }
	}
}


#main { 
	margin-top: 20px; 
	background: url(/images/bg_leftcol.gif) repeat-y 50px;
}

#primary { 
	padding: 0 20px; 
}

#sub {
	padding-left: 10px;
}

// Entries

.entries { margin: 0; }
.entry {
	overflow: auto; width: 100%;
	margin: 0;
	padding: 10px 0;
//	border-bottom: 1px dashed silver;
	.thumb { float: left; margin-right: 10px; width: 80px; height: 80px; }
	.content { 
		margin-left: 95px;
		>p { margin-bottom: 0; } 
	}
	.avatar { float: right; margin-left: 5px; }
	.comment_count a { font-size: 0.9em; color: gray; }
}
//.entry:first-child { border-top: 1px dashed silver; }

.dropdown li {
	display: inline;
}

#sub h5 {
	background-color: #277cc8;
	color: #fff;
	padding: 3px 10px;
	border-bottom: 1px solid white;
}
	

/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert,
.notice,
.success,
.info { padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice        { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success       { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info          { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a          { color: #514721; }
.success a         { color: #264409; }
.info a            { color: #205791; }

// tag cloud
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }


ul#menu li {  
  display: inline;  
  position: relative;  
}
ul#menu div {  
  display: none;  
}  
ul#menu li.mega div {  
  width: 18em;  
  position: absolute;  
  top: 1.6em;  
  left: 0em;  
}
ul#menu li.hovering div {  
  display: block;  
}