<h2><%= page_title "Your Items" %></h2>
<p>Find me in app/views/items/index.html.erb</p>

<h3>What is an item?</h3>

<ul>
	<li>Book</li>
	<li>Baby</li>
	<li>Location</li>
	<li>Puppy</li>
	<li>Project</li>
	<li>Photo</li>
	<li>Portfolio</li>
</ul>	