<div id="flash">
	<% flash.each do |key, value| %>
		<div class="flash <%= key %>"><%= value %></div>
	<% end %>
</div>  

<% content_for :javascript do %>
<script type="text/javascript" charset="utf-8">
$(function() {
	$('#flash').delay(500).fadeIn('normal', function() {
     $(this).delay(2500).fadeOut();
  });
});	
</script>
<% end %>